{% extends 'base.html' %}

{% block title %}
  Gerenciamento de imóveis - Imobiliária
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h1>Gerenciamento de Imóveis</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adicionarImovelModal">
      Adicionar Imóvel
    </button>
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Preço</th>
          <th scope="col">Modalidade</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for imovel in imoveis %}
        <tr>
          <th scope="row">{{ imovel.id }}</th>
          <td>{{ imovel.titulo }}</td>
          <td>{{ imovel.preco }}</td>
          <td>{{ imovel.modalidade }}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editarImovelModal" data-id="{{ imovel.id }}" data-titulo="{{ imovel.titulo }}" data-descricao="{{ imovel.descricao }}" data-endereco="{{ imovel.endereco }}" data-id_cidade="{{ imovel.id_cidade }}" data-id_estado="{{ imovel.id_estado }}" data-id_bairro="{{ imovel.id_bairro }}" data-preco="{{ imovel.preco }}" data-id_tipo="{{ imovel.id_tipo }}" data-quartos="{{ imovel.quartos }}" data-banheiros="{{ imovel.banheiros }}" data-suites="{{ imovel.suites }}" data-vagas_garagem="{{ imovel.vagas_garagem }}" data-area="{{ imovel.area }}" data-foto="{{ imovel.foto }}" data-modalidade="{{ imovel.modalidade }}">Editar</button>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#excluirImovelModal" data-id="{{ imovel.id }}">Excluir</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

 <!-- Modal Adicionar Imóvel -->
<div class="modal fade" id="adicionarImovelModal" tabindex="-1" role="dialog" aria-labelledby="adicionarImovelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="adicionarImovelModalLabel">Adicionar Imóvel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addImovelForm" onsubmit="event.preventDefault(); adicionarImovel(event);">
            <!-- Campos do formulário -->
            <div class="form-group">
              <label for="tituloImovelAdd" class="col-form-label">Título:</label>
              <input type="text" class="form-control" id="tituloImovelAdd" required>
            </div>
            <div class="form-group">
              <label for="descricaoImovelAdd" class="col-form-label">Descrição:</label>
              <textarea class="form-control" id="descricaoImovelAdd" required></textarea>
            </div>
            <div class="form-group">
              <label for="enderecoImovelAdd" class="col-form-label">Endereço:</label>
              <input type="text" class="form-control" id="enderecoImovelAdd" required>
            </div>
            <div class="form-group">
                <label for="estadoImovelAdd" class="col-form-label">Estado:</label>
                <select class="form-control" id="estadoImovelAdd" onchange="loadCidades('cidadeImovelAdd', this.value);" required>
                  <!-- Opções de estados serão carregadas dinamicamente -->
                </select>
              </div>
              <div class="form-group">
                <label for="cidadeImovelAdd" class="col-form-label">Cidade:</label>
                <select class="form-control" id="cidadeImovelAdd" onchange="loadBairros('bairroImovelAdd', this.value);" required>
                  <!-- Opções de cidades serão carregadas dinamicamente -->
                </select>
              </div>
              <div class="form-group">
                <label for="bairroImovelAdd" class="col-form-label">Bairro:</label>
                <select class="form-control" id="bairroImovelAdd" required>
                  <!-- Opções de bairros serão carregadas dinamicamente -->
                </select>
              </div>
            <div class="form-group">
              <label for="precoImovelAdd" class="col-form-label">Preço:</label>
              <input type="number" class="form-control" id="precoImovelAdd" required>
            </div>
            <div class="form-group">
              <label for="idTipoImovelAdd" class="col-form-label">Tipo:</label>
              <input type="number" class="form-control" id="idTipoImovelAdd" required>
            </div>
            <div class="form-group">
              <label for="quartosImovelAdd" class="col-form-label">Quartos:</label>
              <input type="number" class="form-control" id="quartosImovelAdd" required>
            </div>
            <div class="form-group">
              <label for="banheirosImovelAdd" class="col-form-label">Banheiros:</label>
              <input type="number" class="form-control" id="banheirosImovelAdd" required>
            </div>
            <div class="form-group">
              <label for="suitesImovelAdd" class="col-form-label">Suítes:</label>
              <input type="number" class="form-control" id="suitesImovelAdd" required>
            </div>
            <div class="form-group">
              <label for="vagasGaragemImovelAdd" class="col-form-label">Vagas de Garagem:</label>
              <input type="number" class="form-control" id="vagasGaragemImovelAdd" required>
            </div>
            <div class="form-group">
                <label for="areaImovelAdd" class="col-form-label">Área:</label>
                <input type="number" class="form-control" id="areaImovelAdd" required>
              </div>
              <div class="form-group">
                <label for="fotoImovelAdd" class="col-form-label">Foto:</label>
                <input type="text" class="form-control" id="fotoImovelAdd" required>
              </div>
              <div class="form-group">
                <label for="modalidadeImovelAdd" class="col-form-label">Modalidade:</label>
                <select class="form-control" id="modalidadeImovelAdd" required>
                  <option value="aluguel">Aluguel</option>
                  <option value="venda">Venda</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="addImovelForm">Adicionar Imóvel</button>
          </div>
        </div>
      </div>
    </div>
    
  
  <div class="modal fade" id="editarImovelModal" tabindex="-1" role="dialog" aria-labelledby="editarImovelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarImovelModalLabel">Editar Imóvel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editImovelForm" onsubmit="event.preventDefault(); editarImovel(event);">
            <!-- Adicione aqui os campos do formulário para editar um imóvel -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" form="editImovelForm" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="excluirImovelModal" tabindex="-1" role="dialog" aria-labelledby="excluirImovelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="excluirImovelModalLabel">Excluir Imóvel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja excluir este imóvel?
          <form id="deleteImovelForm" onsubmit="event.preventDefault(); excluirImovel(event);">
            <input type="hidden" id="deleteImovelId" name="id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" form="deleteImovelForm" class="btn btn-danger">Excluir</button>
        </div>
      </div>
    </div>
  </div>
  

  <script>
          $(document).ready(function () {
       
        async function fetchEstados() {
  return new Promise((resolve, reject) => {
    $.get(baseURL + "localizacao/estados", (data) => {
      resolve(data);
    }).fail((error) => {
      console.error("Erro ao carregar estados:", error);
      reject(error);
    });
  });
}

async function fetchCidades(idEstado) {
  return new Promise((resolve, reject) => {
    $.get(baseURL + "localizacao/cidades", { id_estado: idEstado }, (data) => {
      resolve(data);
    }).fail((error) => {
      console.error("Erro ao carregar cidades:", error);
      reject(error);
    });
  });
}

async function fetchBairros(idCidade) {
  return new Promise((resolve, reject) => {
    $.get(baseURL + "localizacao/bairros" , { id_cidade: idCidade }, (data) => {
      resolve(data);
    }).fail((error) => {
      console.error("Erro ao carregar bairros:", error);
      reject(error);
    });
  });
}
async function loadEstados(selectId) {
  const estados = await fetchEstados();
  const select = document.getElementById(selectId);
  select.innerHTML = '<option value="">Selecione um estado</option>';
  estados.forEach((estado) => {
    select.innerHTML += `<option value="${estado.id}">${estado.nome}</option>`;
  });
}

async function loadCidades(selectId, estadoId) {
  if (!estadoId) return;
  const cidades = await fetchCidades(estadoId);
  const select = document.getElementById(selectId);
  select.innerHTML = '<option value="">Selecione uma cidade</option>';
  cidades.forEach((cidade) => {
    select.innerHTML += `<option value="${cidade.id}">${cidade.nome}</option>`;
  });
}

async function loadBairros(selectId, cidadeId) {
  if (!cidadeId) return;
  const bairros = await fetchBairros(cidadeId);
  const select = document.getElementById(selectId);
  select.innerHTML = '<option value="">Selecione um bairro</option>';
  bairros.forEach((bairro) => {
    select.innerHTML += `<option value="${bairro.id}">${bairro.nome}</option>`;
  });
}
// Adicionar Imóvel
function adicionarImovel(event) {
  const form = event.target;
  const titulo = form.querySelector('#tituloImovelAdd').value;
  const descricao = form.querySelector('#descricaoImovelAdd').value;
  const endereco = form.querySelector('#enderecoImovelAdd').value;
  const idCidade = form.querySelector('#idCidadeImovelAdd').value;
  const idEstado = form.querySelector('#idEstadoImovelAdd').value;
  const idBairro = form.querySelector('#idBairroImovelAdd').value;
  const preco = form.querySelector('#precoImovelAdd').value;
  const idTipo = form.querySelector('#idTipoImovelAdd').value;
  const quartos = form.querySelector('#quartosImovelAdd').value;
  const banheiros = form.querySelector('#banheirosImovelAdd').value;
  const suites = form.querySelector('#suitesImovelAdd').value;
  const vagasGaragem = form.querySelector('#vagasGaragemImovelAdd').value;
  const area = form.querySelector('#areaImovelAdd').value;
  const foto = form.querySelector('#fotoImovelAdd').value;
  const modalidade = form.querySelector('#modalidadeImovelAdd').value;

  const novoImovel = {
    titulo,
    descricao,
    endereco,
    id_cidade: parseInt(idCidade),
    id_estado: parseInt(idEstado),
    id_bairro: parseInt(idBairro),
    preco: parseFloat(preco),
    id_tipo: parseInt(idTipo),
    quartos: parseInt(quartos),
    banheiros: parseInt(banheiros),
    suites: parseInt(suites),
    vagas_garagem: parseInt(vagasGaragem),
    area: parseInt(area),
    foto,
    modalidade,
  };

  fetch(baseURL + 'admin/imoveis', {
    method: 'POST',
    body: JSON.stringify(novoImovel),
    headers: {
      'Authorization': `Bearer ${jwtToken}`,
      'Content-Type': 'application/json',
    },
  })
  .then((response) => {
    if (response.status === 201) {
      location.reload();
    } else {
      alert('Não foi possível adicionar o imóvel');
    }
  });
}

// Editar Imóvel
function editarImovel(event) {
  const form = event.target;
  const idField = form.querySelector('#editImovelId');
  const id = idField.value;
  // Restante dos campos (como no exemplo de adicionarImovel)

  const updatedImovel = {
    // Atributos atualizados do imóvel (como no exemplo de adicionarImovel)
  };

  fetch(baseURL + `admin/imoveis/${id}`, {
    method: 'PUT',
    body: JSON.stringify(updatedImovel),
    headers: {
      'Authorization': `Bearer ${jwtToken}`,
      'Content-Type': 'application/json',
    },
  })
  .then((response) => {
    if (response.status === 200) {
      location.reload();
    } else {
      alert('Não foi possível editar o imóvel');
    }
  });


// Excluir Imóvel
function excluirImovel(event) {
  const form = event.target;
  const idField = form.querySelector('#deleteImovelId');
  const id = idField.value;

  fetch(baseURL + `admin/imoveis/${id}`, {
    method: 'DELETE',
    headers: {
      'Authorization': `Bearer ${jwtToken}`,
      'Content-Type': 'application/json',
    },
  })
  .then((response) => {
    if (response.status === 204) {
      location.reload();
    } else {
      alert('Não foi possível excluir o imóvel');
    }
  });
}

// Configurar modais
$('#editarImovelModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var id = button.data('id');
  // Restante das variáveis (como no exemplo fornecido)

  var modal = $(this);
  modal.find('#editImovelId').val(id);
  // Restante das configurações dos campos (como no exemplo fornecido)
});

$('#excluirImovelModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget);
  var id = button.data('id');

  var modal = $(this);
  modal.find('#deleteImovelId').val(id);
});
document.addEventListener('DOMContentLoaded', function () {
  loadEstados('estadoImovelAdd');
});
});
</script>
{% endblock %}