{% extends 'base.html' %}

{% block title %}
  Gerenciamento de Telas - Imobiliária
{% endblock %}

{% block content %}
 
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="h4">Gerenciamento de Telas</h1>
          <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center mb-3">
              <button class="btn btn-primary" data-toggle="modal" data-target="#addTelaModal">Adicionar Tela</button>
          </div>
      </div>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Caminho</th>
                      <th scope="col" class="text-nowrap">Ações</th>
                  </tr>
              </thead>
              <tbody>
                  {% for tela in Tela %}
                  <tr>
                      <td>{{ tela.id }}</td>
                      <td>{{ tela.nome }}</td>
                      <td>{{ tela.descricao }}</td>
                      <td class="text-nowrap">
                          <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editarTelaModal" data-id="{{ tela.id }}" data-nome="{{ tela.nome }}" data-descricao="{{ tela.descricao }}" data-caminho="{{ tela.caminho }}">Editar</button>
                          <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#excluirTelaModal" data-id="{{ tela.id }}">Excluir</button>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- Modal Adicionar Tela -->
<div class="modal fade" id="addTelaModal" tabindex="-1" role="dialog" aria-labelledby="addTelaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addTelaModalLabel">Adicionar Tela</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="addTelaForm" onsubmit="event.preventDefault(); adicionarTela(event);">
                  <div class="form-group">
                      <label for="nomeTelaAdd" class="col-form-label">Nome:</label>
                      <input type="text" class="form-control" id="nomeTelaAdd">
                  </div>
                  <div class="form-group">
                      <label for="descricaoTelaAdd" class="col-form-label">Descricao:</label>
                      <input type="text" class="form-control" id="descricaoTelaAdd">
                  </div>
                  <div class="form-group">
                      <label for="caminhoTelaAdd" class="col-form-label">Caminho:</label>
                      <input type="text" class="form-control" id="caminhoTelaAdd">
                      </select>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Modal Editar Tela -->
<div class="modal fade" id="editarTelaModal" tabindex="-1" role="dialog" aria-labelledby="editarTelaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editarTelaModalLabel">Editar Tela</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="editTelaForm" onsubmit="event.preventDefault(); editarTela(event);">
                  <input type="hidden" name="id">
                  <div class="form-group">
                      <label for="nomeTelaEdit" class="col-form-label">Nome:</label>
                      <input type="text" class="form-control" id="nomeTelaEdit">
                  </div>
                  <div class="form-group">
                      <label for="descricaoTelaEdit" class="col-form-label">Descricao:</label>
                      <input type="text" class="form-control" id="descricaoTelaEdit">
                  </div>
                  <div class="form-group">
                    <label for="caminhoTelaEdit" class="col-form-label">Caminho:</label>
                    <input type="text" class="form-control" id="caminhoTelaEdit">
                        <!-- A lista de telas será adicionada aqui pelo JavaScript -->
                    </select>
                </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Modal Excluir Tela -->
<div class="modal fade" id="excluirTelaModal" tabindex="-1" role="dialog" aria-labelledby="excluirTelaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="excluirTelaModalLabel">Excluir Tela</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Tem certeza que deseja excluir este tela?</p>
              <form id="deleteTelaForm" onsubmit="event.preventDefault(); excluirTela(event);">
                  <input type="hidden" name="id">
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-danger">Excluir</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<script>
  const jwtToken = '{{ access_token }}';
  function adicionarTela(event) {
      const form = event.target;
      const formData = new FormData(form);
      const nome = form.querySelector('#nomeTelaAdd').value;
      const descricao = form.querySelector('#descricaoTelaAdd').value;
      const caminho = form.querySelector('#caminhoTelaAdd').value;

      const addTela = {
        nome,
        descricao,
        caminho,
      };
      
      fetch(baseURL+'admin/telas', {
          method: 'POST',
          body: JSON.stringify(addTela),
          headers: {
              'Authorization': `Bearer ${jwtToken}`,
              'Content-Type': 'application/json',
          },
      })
      .then((response) => {
          if (response.status === 201) {
              location.reload();
          } else {
              alert('Não foi possível adicionar o tela');
          }
      });
  }

  function editarTela() {
    const form = document.getElementById('editTelaForm');
    const idField = form.querySelector('input[name="id"]');
    const id = idField.value;
    const nome = form.querySelector('#nomeTelaEdit').value;
    const descricao = form.querySelector('#descricaoTelaEdit').value;
    const caminho = form.querySelector('#caminhoTelaEdit').value;

    const updatedTela = {
      nome,
      descricao,
      caminho,
    };

    fetch(baseURL+`admin/telas/${id}`, {
      method: 'PUT',
      body: JSON.stringify(updatedTela),
      headers: {
        'Authorization': `Bearer ${jwtToken}`,
        'Content-Type': 'application/json',
      },
    })
    .then((response) => {
      if (response.status === 200) {
        location.reload();
      } else {
        alert('Não foi possível editar o tela');
      }
    });
  }

  function excluirTela(event) {
      const form = event.target;
      const formData = new FormData(form);
      const id = formData.get('id');

      fetch(baseURL+`admin/telas/${id}`, {
          method: 'DELETE',
          headers: {
              'Authorization': `Bearer ${jwtToken}`,
              'Content-Type': 'application/json',
          },
          })
      .then((response) => {
          if (response.status === 204) {
          location.reload();
          } else {
          alert('Não foi possível excluir o tela');
          }
      });
      }
      async function buscarTela(event) {
          if (event) {
              event.preventDefault();
          }
          //const searchForm = document.querySelector('form input[type="search"]').form;
          //const searchTerm = searchForm.querySelector('input[type="search"]').value;
      
          fetch(baseURL+'admin/telas', {
          headers: {
              'Authorization': `Bearer ${jwtToken}`,
              'Content-Type': 'application/json',
          },
        })
          .then((response) => response.json())
          .then((telas) => {
              const tbody = document.querySelector('table tbody');
              tbody.innerHTML = '';
          
              telas.forEach((tela) => {
                  const tr = document.createElement('tr');
              
                  const tdId = document.createElement('td');
                  tdId.textContent = tela.id;
                  tr.appendChild(tdId);
              
                  const tdNome = document.createElement('td');
                  tdNome.textContent = tela.nome;
                  tr.appendChild(tdNome);
              
                  const tdDescricao = document.createElement('td');
                  tdDescricao.textContent = tela.descricao;
                  tr.appendChild(tdDescricao);

                  const tdCaminho = document.createElement('td');
                  tdCaminho.textContent = tela.caminho;
                  tr.appendChild(tdCaminho);
              
             
                  const tdAcoes = document.createElement('td');
                  tdAcoes.innerHTML = `
                      <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editarTelaModal" data-id="${tela.id}" data-nome="${tela.nome}" data-descricao="${tela.descricao}" data-caminho="${tela.caminho}">Editar</button>
                      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#excluirTelaModal" data-id="${ tela.id }">Excluir</button>
                  `;
                  tr.appendChild(tdAcoes);
              
                  tbody.appendChild(tr);
              });
          });
      }
      
      document.addEventListener('DOMContentLoaded', function() {
          buscarTela(null); 
          $(document).ready(function () {
            $('#editarTelaModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var id = button.data('id'); // Extrai o atributo data-id
    var nome = button.data('nome');
    var descricao = button.data('descricao');
    var caminho = button.data('caminho');


    var modal = $(this);
    modal.find('input[name="id"]').val(id);
    modal.find('#nomeTelaEdit').val(nome);
    modal.find('#descricaoTelaEdit').val(descricao);
    modal.find('#caminhoTelaEdit').val(caminho);
  });

  $('#excluirTelaModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var id = button.data('id'); // Extrai o atributo data-id


    var modal = $(this);
    modal.find('input[name="id"]').val(id);
  });
});
});
</script>

{% endblock %}